.cursor-blink {
    animation-name: cursor-blink;
    animation-duration: 1.25s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}

@keyframes cursor-blink {
    0% {
        opacity: 1;
    }

    40% {
        opacity: 1;
    }

    60% {
        opacity: 0;
    }

    90% {
        opacity: 0;
    }
}

.typing-effect {
    animation-name: typing;
    animation-duration: .75s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes typing {
    0% {
        opacity: 0;
    }

    45% {
        opacity: 0;
    }

    60% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}