@import url("./font.css");

:root {
    --default-width: 400px;
    --default-height: 320px;

    --default-error-width: 156px;
    --default-error-height: 56px;
}

* {
    padding: 0;
    margin: 0;
}

.prevent-select {
    /* -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; */
}

a {
    text-decoration: none;
}

.app.preload * {
    animation-duration: 0s !important;
    -webkit-animation-duration: 0s !important;
    transition: background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;
}

body {
    background: repeating-linear-gradient(0deg,
            #0E0D0E 25%,
            #0E0D0E 50%,
            #171819 50%,
            #171819 75%);
    background-size: 26px 26px;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.defaultWindow,
main,
#error {
    font-family: "IBM VGA 8x16", monospace;
    /* color: green; */
    font-size: 16px;
    line-height: 16px;
}

#interactive {
    cursor: pointer;
}

#button {
    cursor: pointer;
}